* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: radial-gradient(circle, #ffd8f8, #8e70dc);
  background-attachment: fixed;
  font-size: 17px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #222;
  line-height: 26px;
  padding-bottom: 50px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
}



/* Rest of page */
.container {
  max-width: 700px;
  background: #fff;
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #dad7d7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 30px;
}

.header {
  position: relative;
}


.profile-pic {
  position: absolute;
  top: -25px;
  right: 10px;
  width: 80px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: rainbowBorder 8s linear infinite;
  margin: 20px;
}


.profile-pic:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(1deg);
}

/* Colored border photo*/

@keyframes rainbowBorder {
  0% {
    border-color: #e6b3ff
  }

  16.67% {
    border-color: #cc99ff;
  }

  33.33% {
    border-color: #b3b3ff;
    ;
  }

  50% {
    border-color: #99ccff;
  }

  66.67% {
    border-color: #99e6e6
  }

  83.33% {
    border-color: #ffb3b3;
  }

  100% {
    border-color: #e6b3ff;
  }
}

.full-name {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.first-name {
  font-weight: 700;
}

.last-name {
  font-weight: 300;
}

.contact-info {
  margin-bottom: 20px;
}

.email,
.phone,
.links {
  color: #2f2f2f;
  font-weight: 300;
}

#download {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8e70dc;
  color: #fff;
  border: 0px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
}

#download:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  cursor: pointer;
}

/* Pop up window */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

#storyBtn {
  display: block;
  width: 100%;
  padding: 5px 0;
  border: 1px solid black;
  background-color: transparent;
  color: black;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#storyBtn:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  cursor: pointer;
  border-color: #8e70dc;
}

/* Pop up */
.popup-content {
  /* background: #fff;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  white-space: normal; */
  position: relative;
  background: #fff;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #8e70dc;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

#prevBtn {
  left: 10px;
}

#nextBtn {
  right: 10px;
}


/* Close button */
.close-btn {
  background-color: white;
  font-family: 'Chivo';
  color: black;
  border: 1px solid black;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;

  cursor: pointer;
  border-color: #8e70dc;
}

.separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #ffffff;
  margin: 0px 10px;
}

#last {
  border-left: white;
}


.updates>ul {
  list-style-type: circle;
  padding-left: 20px;
  margin: 10px 0;
}

.position {
  font-family: 'Chivo';
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
}

.me {
  line-height: 1.2;
}

.details {
  line-height: 20px;
}

.section {
  margin-bottom: 40px;
}

.section:last-of-type {
  margin-bottom: 0px;
}

.section-title {
  letter-spacing: 2px;
  color: #6137cd;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.section-list-item {
  margin-bottom: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.016);
  margin: 5px;
  padding: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid gray;
}

.section-list-item:last-of-type {
  margin-bottom: 10px;
}

.experience-item {
  margin-bottom: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.016);
  margin: 5px;
  padding: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid gray;
}

#o-logo {
  width: 100px;
  height: auto;
}

#o-logo:hover {
  transform: scale(1.1);
  filter: brightness(120%);
}


@keyframes wiggle {
  0% {
    transform: rotate(-5deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Experience section  */

.left,
.right {
  vertical-align: top;
  display: inline-block;
}

.left {
  width: 60%;
}

.right {
  text-align: right;
  width: 39%;
}

.dates {
  font-weight: bold;
  font-size: 0.9rem;
}

.place {
  font-size: 0.9rem;
}

.name {
  font-weight: bold;
  font-size: 0.9rem;
}


.duties {
  display: none;
}

.duties.show {
  display: block;
  color: black;
  padding: 6px;

}

.duties ul {
  font-style: italic;
  font-size: 0.9rem;
}

.duties ul li {
  margin-left: 15px;
  line-height: 1.2;
  font-size: 0.9rem;
  list-style-type: circle;
}

/* Education section */
.desc {
  font-style: italic;
  font-size: 0.9rem;
}

.desc ul {
  list-style-type: circle;
}

.desc ul li {
  margin-left: 15px;
  line-height: 1.2;
}

.show-desc {
  font-weight: bold;
  color: #8e70dc;
}

.show-desc:hover {
  cursor: pointer;
  color: black;
}

.see-more {
  font-weight: bold;
  color: #6137cd;
}

.see-more:hover {
  cursor: pointer;
  color: black;
}

.see-description {
  display: none;
  font-size: 0.9rem;
}


.see-description.show {
  display: block;
  background-color: #f8f8f8;
  color: rgb(0, 0, 0);
  padding: 15px;
  margin-right: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.see-description.show>ul {
  margin-left: 6px;
}

a {
  text-decoration: none;
  color: #4a22db;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(115, 0, 255);
}

/* Skill section */
.skills-item {
  margin-bottom: 10px;
  line-height: 1.2;
}

.skill-item p {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skills-item .right input {
  display: none;
}

.skills-item .right label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #c3def3;
  border-radius: 20px;
  margin-right: 3px;
}

.project-name {
  font-weight: bold;
  margin-top: 15px;
}

.gif-preview {
  width: 200px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.video-controls {
  width: 400px;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
}

figcaption {
  font-size: 0.9 rem;
  color: #000000;
  margin-top: 3px;
}


.link-container {
  display: flex;
  justify-content: space-around;
}

.language {
  font-weight: bold;
}


#icons {
  display: flex;
  justify-content: space-around;
}

.section-list>* {
  margin-bottom: 5px;
}

#coding-lang {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  text-transform: capitalize;
}

.link-item i {
  text-align: center;
  flex: 0 0 auto;
  font-size: 2.5rem;
}

form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 130px;
}

button[type="submit"] {
  background-color: #8e70dc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  cursor: pointer;
}

#contact-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}


/* MEDIA QUERY */



@media only screen and (max-width: 850px) {

  html {
    font-size: 14px;
  }

  .container {
    width: 95%;
    max-width: none;
    padding: 1.25rem;
    margin: 1.25rem auto;
  }

  .full-name {
    display: block;
    width: 100%;
    justify-content: center;
    font-size: 2.8rem;
    padding: 0.625rem 0;
    margin: 0 0.625rem;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
  }

  .experience-item,
  .section-list-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .left,
  .right {
    width: 100%;
    text-align: left;
    margin-top: 0.625rem;
  }

  .skills-item {
    text-align: left;
    font-size: 0.99rem;
    padding: 0;
  }

  .duties ul li,
  .desc ul li {
    font-size: 0.75rem;
  }

  .video-controls,
  .gif-preview {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0.625rem 0;
  }

  .project-name {
    font-size: 1rem;
  }

  .section-title,
  .language,
  .level {
    font-size: 0.875rem;
  }

  #contact-items {
    padding: 0 0.625rem;
  }

  form {
    padding: 0.9375rem;
  }

  .link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1.25rem;
    margin-top: 0.625rem;
  }

  .link-item {
    font-size: 1.875rem;
    flex: 0 0 auto;
  }

  .profile-pic {
    position: static;
    display: block;
    margin: 0 auto 1.25rem auto;
  }
}