* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  zoom: 1.05;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background: radial-gradient(circle, #ffd8f8, #8e70dc);
  /* background-color: blue; */
  background-attachment: fixed;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 50px;
}

/* Language toggle */





/* Rest of page */
.container {
  max-width: 700px;
  background: #fff;
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #dad7d7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 30px;
}

.header {
  position: relative;
}

.profile-pic {
  position: absolute;
  top: -20px;
  left: 450px;
  width: 80px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  animation: rainbowBorder 8s linear infinite; 
}

.profile-pic:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: rotate(1deg);
}

/* Colored border */

@keyframes rainbowBorder {
  0% {
      border-color: #e6b3ff 
  }
  16.67% {
      border-color: #cc99ff; 
  }
  33.33% {
      border-color: #b3b3ff;; 
  }
  50% {
      border-color: #99ccff; 
  }
  66.67% {
      border-color: #99e6e6 
  }
  83.33% {
      border-color: #ffb3b3; 
  }
  100% {
      border-color: #e6b3ff; 
  }
}

.full-name {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.first-name {
  font-weight: 700;
}

.last-name {
  font-weight: 300;
}

.contact-info {
  margin-bottom: 20px;
}

.email,
.phone,
.links {
  color: #2f2f2f;
  font-weight: 300;
}

#download {
  display: inline-block;
  padding: 10px 20px;
  background-color: #8e70dc;
  color: #fff;
  border: 0px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;

}

#download:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  transform: rotate(1deg);
  cursor: pointer;
}

.separator {
  height: 10px;
  display: inline-block;
  border-left: 2px solid #ffffff;
  margin: 0px 10px;
}

#last {
  border-left: white;
}

p {
  font-size: 12px;
}

.updates ul {
  font-size: 12px;
  margin: 15px;
}

.position {
  font-family: 'Chivo';
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin-right: 10px;
  /* overflow: hidden; 
  white-space: nowrap; 
  border-right: 2px solid #000; 
  animation: typing 4s steps(30, end), blink 0.75s step-end infinite; */
}

/* .position.complete {
  border-right: none; 
  animation: none; 
} */ 

/* @keyframes typing {
  from {
    width: 0; 
  }
  to {
    width: 57%; 
  }
}

@keyframes blink {
  50% {
    border-color: transparent; 
  }
} */

.me {
  line-height: 1.2;
}

.details {
  line-height: 20px;
}

.section {
  margin-bottom: 40px;
}

.section:last-of-type {
  margin-bottom: 0px;
}

.section-title {
  letter-spacing: 2px;
  color: #6137cd;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.section-list-item {
  margin-bottom: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.016);
  margin: 5px;
  padding: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid black;
}

.section-list-item:last-of-type {
  margin-bottom: 10px;
}
.experience-item {
  margin-bottom: 10px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.016);
  margin: 5px;
  padding: 10px;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 1px solid black;
}

#o-logo {
  width: 100px;   
  height: auto;   
}

#o-logo:hover {
  transform: scale(1.1);  
    filter: brightness(120%);
}



.left,
.right {
  vertical-align: top;
  display: inline-block;
}

.left {
  width: 60%;
}

.right {
  text-align: right;
  width: 39%;
}

.dates {
  font-weight: bold;
  font-size: 11px;
}
.place {
  font-size: 11px;
}
.name {
  font-weight: bold;
  font-size: 11px;
}
/* Experience section  */
.duties {
  display: none;
}

.duties.show {
  display: block;
  color: black;
  padding: 6px;
  font-size: 11px;
}

.duties ul {
  font-style: italic;
  font-size: 11px;
}
.duties ul li {
  margin-left: 15px;
  line-height: 1.2;
  font-size: 9.5px;
  list-style-type: circle;
}
/* Education section */
.desc {
  font-style: italic;
  font-size: 11px;
}
.desc ul {
  list-style-type: circle;
}

.desc ul li {
  margin-left: 15px;
  line-height: 1.2;
}

.show-desc {
  font-size: 15px;
  font-weight: bold;
  color: #8e70dc;
}
.show-desc:hover {
  cursor: pointer;
  color: black;
}
.see-more {
  font-size: 15px;
  font-weight: bold;
  color: #6137cd;
}

.see-more:hover {
  cursor: pointer;
  color: black;
}
.see-description {
  display: none;
}

.see-description.show {
  display: block;
  background-color: #8f70dc;
  color: white;
  padding: 10px;
  border: 1px solid black;
  font-size: 11px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: #000;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(115, 0, 255);
}
/* Skill section */
.skills-item {
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.2;
}

.skills-item .right input {
  display: none;
}

.skills-item .right label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #c3def3;
  border-radius: 20px;
  margin-right: 3px;
}
.project-name {
  font-weight: bold;
}

.gif-preview {
  width: 200px; 
  height: auto; 
  border: 2px solid #ccc; 
  border-radius: 8px; 
}
/*
.text {
  
}
*/
.link-item {
  text-align: center;
  font-size: 40px;
}
.link-container {
  display: flex;
  justify-content: space-around;
}
.language {
  
  font-weight: bold;
}
/*
.level {
  font-size: 10px;
}
  */


#icons {
  display: flex;
  justify-content: space-around;
}

.section-list > * {
  margin-bottom: 5px;
}
#coding-lang {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  text-transform: capitalize;
}
form {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 130px; 
}

button[type="submit"] {
  background-color: #8e70dc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  box-shadow: 1px 1px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  transform: rotate(1deg);
  cursor: pointer;
}

#contact-items {
  display: flex; 
  flex-direction: column; 
  gap: 15px; 
}


/* Small screens */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 300px;
    background: #fff;
    margin: 0 auto;
    box-shadow: 1px 1px 2px #dad7d7;
    border-radius: 3px;
    padding: 40px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body {
    font-size: 90%;
  }
  .image {
    text-align: center;
  }
  .profile-pic {
    display: none;
  }
  .contact-info {
    text-align: center;
    margin: 10px auto;
  }
  .skills {
    text-align: center;
  }
  .full-name {
    text-align: center;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .email,
  .phone {
    display: none;
  }
  #download {
    display: block;
    background-color: #8e70dc;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: 10px auto;
  }

} 


